# Ignore files related to iPython notebook
.ipynb_checkpoints/*

# Ignore data files
MNIST_data/*
*.mat

# Ignore compiled Python files
*.pyc

# Ignore temporary Emacs files
*~

# Ignore generated image files
*.png

# Ignore .idea related files
.idea/

# Ignore log and checkpoint files
checkpoints
tb_logs

# Ignore my standard sandbox file
sandbox.py